@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@400;500&display=swap');

:root {
  --green: #004225;
  --white: #FFF2CC;
  --yellow: #FFD93D;
  --pink: #DFA67B;
  --brown: #4F200D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  max-width: 1300px;
  margin: auto;
  background: var(--white);
  color: var(--brown);
}

.head_bar {
  padding-block: 12px 8px;
  text-align: center;
}

.head_bar__title {
    letter-spacing: 1px;
}

main {
  margin-inline: 3rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: auto;
}

.left, .right {
  flex-basis: 50%;
  border-radius: 10px;
  min-width: 500px;
  padding: 0.5rem;
}

.left {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* GENERAL SECTION */
.input_section,
.edit_section > form,
.search_section,
.book_shelf {
  padding: 1.8rem;
  border-radius: 10px;
  background: var(--pink);
  box-shadow: 0px 0px 6px var(--pink);
}

/* LEFT */
.input_section{
  margin-bottom: 0.8rem;
  color: var(--brown)
}

.left h2 {
  text-align: center;
  font-size: 1.2rem;
}

h2 {
  letter-spacing: 0.6px;
  font-size: 1rem;
}

.book_description h3 {
  font-size: 0.9rem;
}

.book_description p {
  font-size: 0.8rem;
}

.input {
  margin-block: 0.5rem;
  font-weight: 600;
}

.input input, 
#bookSubmit,
#searchBookTitle,
#searchSubmit, 
#editSubmit,
#editCancelSubmit {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background: var(--white);
  letter-spacing: 0.3px;
  color: var(--brown);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

input:focus {
  outline: 2px solid var(--brown);
}

.inline {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.inline input {
  width: fit-content;
}

#bookSubmit, 
#searchSubmit,
#editSubmit,
#editCancelSubmit {
  background: #FFD93D;
  color: #4F200D;
  border: none; 
  font-weight: 600;
  height:2.2rem;
}
 
.search_section {
  flex-grow: 1;
}

#searchBook {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

#searchBookTitle {
  width: 80%;
}

#searchSubmit {
  width: 20%;
}

#searchBookTitle::placeholder {
  font-style: italic;
  font-size: 13px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}

.book_shelf {
  overflow-y: auto;
  flex-basis: 1;
  flex-grow: 1;
  height: 218px;
  position: relative;
}

.book_shelf h2 {
  margin-bottom: 1rem;
}

.book_shelf {
  background: var(--pink)
}

.book_list {
  overflow-y: auto;
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

.book_item {
  border: 1px solid var(--white);
  padding: 0.8rem;
  border-radius: 10px;
  background: var(--white);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 49%;
  overflow: auto;
  height: 120px;
}

.book_image {
  background: radial-gradient(var(--yellow) 0% 65%, transparent 65% 100%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.2rem solid var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Agbalumo';
  overflow: hidden;
}

.book_description {
  width: 60%;
  font-size: 0.85rem;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.book_icon {
  font-size: 1rem;
  color: var(--brown);
  border-radius: 50%;
  border: none;
  font-weight: 500;
  background: transparent;
}

.edit_section{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--brown);
  background-color: rgba(0,0,0,0.5);
}

.edit_section > form > h2 {
  text-align: center;
}

.edit_section > form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 45%;
  background-color: var(--pink);
  padding: 1.6rem;
  min-width: 600px;
  z-index: 999;
}

.edit_section > form > .action > button {
  display: block;
  padding: 8px ;
  margin: 10px 0px;
  cursor: pointer;
  background: var(--yellow);
  color: var(--brown);
  border: none; 
  font-weight: 600;
  height:2.2rem;
}

.edit_section > form > .action > .white {
  background-color: white;
  color: cornflowerblue;
}

#editSubmit {
  margin-bottom: -6px;
}

#editCancelSubmit {
  background: var(--white);
}

.note {
  display: block;
  font-size: 3rem;
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover,
#reloadButton:hover {
  transform: scale(1.025);
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  h1 {
    text-align: left;
    margin-left: 3.3rem
  }

  .right {
    overflow: scroll;
  }
}